@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   background-color: #f5ebd6;
}

main .wrapper {
   margin: 0 auto;
   margin-top: 90px;
   flex-wrap: wrap;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 956px;
   height: 500px;
}

/* .container {
   display: flex;
   justify-content: space-around;
   width: 100%;
} */

.card__first-block {
   display: flex;
   align-items: flex-end;
   width: 468px;
   height: 160px;
   background-color: #eab96d;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__second-block {
   display: flex;
   justify-content: center;
   width: 468px;
   height: 160px;
   flex-shrink: 0;
   background-color: #eab96d;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__third-block {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 468px;
   height: 160px;
   background-color: #eab96d;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__fourth-block {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   width: 468px;
   height: 160px;
   background-color: #eab96d;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__fifth-block {
   display: flex;
   justify-content: space-around;
   width: 468px;
   height: 160px;
   background-color: #eab96d;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__sixth-block {
   display: flex;
   align-items: center;
   width: 468px;
   height: 160px;
   background-color: #eab96d;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__content {
   display: flex;
   justify-content: center;
   min-width: 78px;
   min-height: 78px;
   border-radius: 4px;
   background-color: #ffff7d;
   margin: 19px;
}

.card__content-12 {
   display: flex;
   align-self: flex-end;
   min-width: 78px;
   min-height: 78px;
   border-radius: 4px;
   background-color: #ffff7d;
   margin: 19px;
}

.card__content-14 {
   display: flex;
   justify-content: center;
   align-self: center;
   min-width: 78px;
   min-height: 78px;
   border-radius: 4px;
   background-color: #ffff7d;
   margin: 19px;
}

.card__text {
   display: flex;
   align-items: center;
}

.card__content-17 {
   flex-grow: 2;
   min-width: 78px;
   min-height: 78px;
   border-radius: 4px;
   background-color: #ffff7d;
   margin: 19px;
}
