@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   background-color: #f5ebd6;
}

main .wrapper {
   margin: 0 auto;
   margin-top: 90px;
   flex-wrap: wrap;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 956px;
   height: 500px;
}

.container {
   /* display: flex;
   align-items: flex-end; */
   width: 468px;
   height: 160px;
   background-color: #eab96d;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-1 {
   display: flex;
   align-items: flex-end;
}

.container-2 {
   display: flex;
   justify-content: center;
   align-items: stretch;
}

.container-3 {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.container-4 {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.container-5 {
   display: flex;
   justify-content: center;
}
.container-6 {
   display: flex;
   align-items: center;
}

.card {
   display: flex;
   justify-content: center;
   min-width: 78px;
   min-height: 78px;
   border-radius: 4px;
   background-color: #ffff7d;
   margin: 19px;
}

.content-12 {
   display: flex;
   align-self: flex-end;
}

.content-14 {
   display: flex;
   justify-content: center;
   align-self: center;
}

.card__text {
   display: flex;
   align-items: center;
}

.content-17 {
   flex-grow: 2;
}
